{% extends 'layout-main.twig' %}

{% block title %}
    E-Exam | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="user-dashboard">
        <div class="page-header">
            <h2>Electronic Test Practice</h2>
            <section class="layout">
                <a href="{{ app.url_generator.generate('etest.test')}}">

                <h4> Click below to see available tests</h4></a>
            </section>
        </div>
        <div class="container-fluid">
            <div class="col-md-12">

            </div>
        </div>
    </div>
{% endblock %}