{% extends 'layout-main.twig' %}

{% block title %}
    E-Exam | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="etest-index">
        <div class="page-header">
            <h2>Electronic Test Practice</h2>
        </div>
        <div class="container-fluid">
            <div class="col-md-8">
                {% for course in courses %}
                <div class="course-item panel">
                    <h3>
                        <a href="{{ app.url_generator.generate('etest.session', {course_id: course.id}) }}">
                            {{ course.name }}
                        </a>
                    </h3>
                </div>
                {% endfor %}
            </div>

            <div class="col-md-4">

            </div>
        </div>
    </div>
{% endblock %}