{% extends 'layout-main.twig' %}

{% block title %}
    E-Exam | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="user-dashboard">
        <div class="page-header">
            <h2>Dummy Practice Test</h2>
            <section class="layout">

                <div>

                        <a href="{{ app.url_generator.generate('etest.test1', {id: etest_courses.id}) }}">see here</a>

                        <a href="{{ app.url_generator.generate('etest.index')}}">

                            <h4> Click here to return to home</h4></a>

                </div>


            </section>
        </div>
        <div class="container-fluid">
            <div class="col-md-12">

            </div>
        </div>
    </div>
{% endblock %}