{% extends 'layout-sidebar.twig' %}

{% block title %}
    Create PrintJob | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="printjob-create">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form action="/printjobs/create" method="post">
                        <b>Give this print job a name so you can remember it later:</b>
                        <input type="text" name="job[name]" placeholder="Print Job Name" />

                        <br />
                        <button class="btn btn-default" type="submit">Continue &raquo; </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}