{% extends 'layout-sidebar.twig' %}

{% block title %}
    Search | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="book-search">

        <div class="page-header">
            <h2>Search Books</h2>
        </div>

        <div class="container-fluid margin-top-lg">
            <div class="row">
                <div class="col-md-9">
sdfdfs
                </div>
                <div class="col-md-3">
gth3ht44y
                </div>
            </div>
        </div>
    </div>
{% endblock %}