<form action="{{ app.url_generator.generate('books.search') }}" method="get">
    <div class="input-group">
        <input type="text" placeholder="Looking for a book, what book? " class="form-control" name="filter">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <!-- /input-group -->
</form>