<div id="side_nav_cont"  style="background-color: #fefefe; height: 400px; border:1px solid #ddd;">
    <ul class="nav nav-tabs">
        <li class="favor active"><a href="#">Favorites book</a></li>
        <li  class="reserved">
            <a href="#">Reserved books</a></li>
    </ul>
</div>