{% extends 'layout-main.twig' %}

{% block content %}

    <div id="book-view">
        <div class="book-header media">
            <div class="book-header-thumb">
                <div class="text-center">
                    {# Preview Image will be placed here #}
                    <i class="fa-5x fa fa-fw"></i>
                </div>
            </div>
            <div class="media-body">
                <h2 class="media-heading margin-none">
                    {{ book.title }}
                </h2>
                <p class="book-summary-author">by {{ book.author }}</p>
            </div>
        </div>

        <div class="box book-viewer">
            {# Place the book here... Using ViewerJS or whatever #}
            {% for property, value in book %}
                <div>
                    <b>{{ property }}:</b> {{ value }}
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}