{% extends 'layout-main.twig' %}

{% block title %}
    Student-Bill | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="user-dashboard">
        <div class="page-header">
            <h2>Billing <small class="text-muted">/ Checkout</small></h2>
        </div>
        <div class="container-fluid">
            <div class="col-md-12">

            </div>
        </div>
    </div>
{% endblock %}