<div class="panel panel-default box no-rounded">
    <div class="panel-heading no-rounded">
        <h3 class="panel-title">
            <span class="fa fa-plus"></span>
            Current Funds
        </h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <h3>&#8358 {{ user.fund }}</h3>
        </div>
    </div>
</div>
<div class="panel panel-default box no-rounded">
    <div class="panel-heading no-rounded">
        <h3 class="panel-title">
            <span class="fa fa-minus"></span>
            Current Debt
        </h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <h3>&#8358 {{ user.debt }}</h3>
        </div>
    </div>
</div>