<div class="panel panel-default box no-rounded">
    <div class="panel-heading no-rounded">
        <h3 class="panel-title">
            <span class="fa fa-plus"></span>
            Current Funds
        </h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <h3>&#8358 {{ user.fund }}</h3>
            <a href="{{ app.url_generator.generate('billing.manage') }}" class="btn btn-primary btn-block">Add Fund</a>
        </div>
    </div>
</div>
<div class="panel panel-default box no-rounded">
    <div class="panel-heading no-rounded">
        <h3 class="panel-title">
            <span class="fa fa-minus"></span>
            Current Debt
        </h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <h3>&#8358 {{ user.debt }}</h3>
            <a href="{{ app.url_generator.generate('billing.manage') }}" class="btn btn-primary btn-block">Pay Your Bills</a>
        </div>
    </div>
</div>