// Header
$header_height: 50px;
$header_bg_color: #434343;

// Sidebar
$sidebar_width: 60px;
$sidebar_bg_color: $header_bg_color;
$sidebar_logo_color: #b3b3b3;
$sidebar_logo_bg_color: #1a1a1a;

// Responsive
$device_small_width_max: 360px;

$device_medium_width_min: 768px;
$device_medium_width_max: 800px;

$device_large_width_min: 980px;
$device_large_width_max: 980px;

$device_xlarge_width_min: 1200px;