
.article_for_loop
{
	margin-bottom: 30px;
	background-color: #FFF;
	padding-top: 10px;

}
small#article_create_update_date
{
	float: right;
	color: #CCC;
}
a#article_header_link:hover
{
	text-decoration:none;
}
