#book-index .book-item .book-item-preview {
    border-bottom: 1px solid #EFEFEF !important;
    text-align: center !important;
    padding: 15px;
    position: relative;
}

#book-index .book-item .book-item-title {
    font-size: 16px;
    font-family: "RobotoBold", Arial, san-serif;
}

#book-view .book-header {
    background: none repeat scroll 0% 0% #FFFFFF;
    margin: 0px auto 15px;
    position: relative;
    border: 1px solid #EFEFEF;
    padding: 10px 20px;
    padding-top: 20px;
}

#book-view .book-header .book-summary-author {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
}

#book-view .book-view-container {
    height: 400px;
    overflow-y: auto;
}

@media (max-width: 360px) {
    #book-view .book-view-container {
        min-height: auto;
        height: 100%;
    }
}

#book-view .book-view-container img {
    width: 100%;
    box-sizing: border-box;
}