#book-index{
    background-color:#f2f2f2 !important;
    min-height: 1000px !important;
}
#book-hold{
    background-color: #245269;
    min-width: 220px;
    position: relative;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;

}

#book-index #book-hold .book-item .book-item-preview {
    border-bottom: 1px solid #ddd !important;
    text-align: center !important;
    padding: 12px;
    position: relative;
    background-color: #fafafa;

}

#book-index #book-hold .book-item .book-item-title {
    font-size: 16px;
    font-family: "RobotoBold", Arial, san-serif;

}
#book-hold #book-att-icons .badge {
    min-width: 10px !important;
    padding: 3px 3px !important;
    color: #428bca !important;
    background-color:#FFF !important;
}
#book-hold #book-att-icons{
    padding: 6px;
    background-color: #fafafa;
    min-width: 220px;
}

#book-hold #book-att-icons p .icon-att{
    padding-right: 5px;
}


#book-icon{
    padding-top: 5px;
}
.badge {
    min-width: 10px !important;
    padding: 3px 3px !important;
    color: #428bca !important;
    background-color:#FFF !important;
}
.icon-att{
    padding-right: 6px;
}
#header_check{
    float: right;
}
#header_only{
    float: left;
}
#header_search{
    padding-top: 10px;
    padding-left: 78px;
}
h3{
   padding-top: 7px !important;
   margin-top: 0px !important;
}







.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #f2f2f2 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.left_side{

}
#cat_head{
    background-color: #fff;
    font-family:Viner Hand ITC;
    padding: 5px;
    font-size: 18px;
    margin-bottom: 10px;
    color: #428bca !important;
}







#book-view .book-header {
    background: none repeat scroll 0% 0% #FFFFFF;
    margin: 0px auto 15px;
    position: relative;
    border: 1px solid #EFEFEF;
    padding: 10px 20px;
    padding-top: 20px;
}

#book-view .book-header .book-summary-author {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
}

#book-view .book-view-container {
    height: 400px;
    overflow-y: auto;
}

@media (max-width: 360px) {
    #book-view .book-view-container {
        min-height: auto;
        height: 100%;
    }
}

#book-view .book-view-container img {
    width: 100%;
    box-sizing: border-box;
}
