#print-job-index .print-job-item {
    color: #434343;
    background-color: #FBFBFB;
    border-bottom: 2px solid #E8E8E8;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 10px;
}

#print-job-index .print-job-item .doc-count {
    background-color: #74AB24;
    margin-top: -40px;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    font-size: 12px;
    color: #FFFFFF !important;
    float: right;
    font-weight: bold;
    font-size: 15px;
}

.print-job-item .media-heading a {
    color: #434343;
    font-family: "RobotoBold", arial, san-serif;
}

.print-job-item a .fa {
    color: #D9631E;
}

#print-job-view .thumbnail .file-ext {
    color: #CCC;
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

#print-job-view .thumbnail-image {
    background-color: #F4f4f4;
    text-align: center;
    padding: 30px 0;
    padding-bottom: 50px;
}

#print-job-view .thumbnail .caption h3 {
    margin-bottom: 20px;
}