/**
 * -------------------------------------------------------------------
 *  Home Page Styles
 * -------------------------------------------------------------------
 */
@font-face {
    font-family: KaushanScript;
    src: url(../../fonts/KaushanScript-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
}

#home {
    height: 100%;
    background-color: #454354;
}

#home h1 {
    color: #FFF;
    font-size: 58px;
    font-weight: 800;
    text-shadow: 0px 1px 1px #000;
    text-align: center;
}

#home .lock-background {
    /*width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: url(../../img/user/lock-header.jpg);  */
    background:url(../../img/user/lock-header.jpg) transparent scroll !important;
    background-repeat:no-repeat !important;
    background-position:50% 50% !important;
   /* background-attachment: scroll  !important;*/
    background-size:cover !important;
    padding: 0;
    margin:0;
    width: 100%;
    min-height: 100%;


}

.login-form {
    margin-right: auto;
    width: 480px;
   margin-bottom:0;
    margin-left: auto;
}

.login-form-title {
    padding: 8px;
    background: rgba(0, 0, 0, 0.85);
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 2px #000;
    border-radius:10px 10px 0 0;
    font-size: 16px !important;
}
.form-horizontal{
    background: rgba(0, 0, 0, 0.85) !important;
    border-radius:0 0 10px 10px;
}
.login-form-title h2 {
    font-size: 40px;
    margin: 0;
    padding: 10px;
}

.login-form form {
    background: #FFF;
    padding: 20px 30px;
    padding-top: 30px;
}
.ui-input-text {
    background: rgba(0, 0, 0, 0) !important;
    padding-left:37px;;
    border: none !important;
    border-bottom:1px solid #fff !important;
    text-shadow: none !important;
    color: #fff;
    border-radius:0 0 5px 5px !important;

}

.form-control.ui-input-text:focus {
    border-color:rgba(0,0,0,0);
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.user-a{
    background: rgba(0, 0, 0, 0) url(../../img/user/icons/user-white.png) no-repeat scroll 16px 8px !important;
}

.password-b{
    background: rgba(0, 0, 0, 0)url(../../img/user/icons/lock-white.png) no-repeat scroll 16px 8px !important;
}

/* style placeholders */
::-webkit-input-placeholder {
    color: #fff !important;
}

:-moz-placeholder{
    color: #fff !important;
}

::-moz-placeholder {
    color: #fff !important;
}

:-ms-input-placeholder {
    color: #fff !important;
}




/**
 * --------------------------------------------------------------------
 *  Styles applied in user dashboard
 * --------------------------------------------------------------------
 */

.most-borrowed-book-list {
    text-align: center;
}

.most-borrowed-book-list .preview-image {
    position: relative;
    margin: 0px auto;
    width: 100%;
}

#random-book {
    padding: 20px;
    background-color: #EDEDED;
    border: 1px solid #DCDCDC;
}

#random-book .reserve_div .reserve-title,
#random-book .book-title {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DCDCDC;
}

#random-book .reserve_div .reserve-title h2,
#random-book .book-title h2 {
    padding: 0;
    margin: 0;
}

#random-book .book-author {
    font-size: 18px;
}

#random-book .reserve_div .reserve-title h2,
#random-book .book-title h2,
#random-book .book-title h2 a {
    color: #D9631E;
    text-transform: uppercase;
    font-family: "RobotoBold", arial, san-serif;
    font-weight: bold;
}

#random-book .book-description,
#random-book .book-reservation
{
    padding-left: 20px;
    border-bottom: 1px solid #DCDCDC;
    min-height: 160px;
}

#random-book .book-description h3,
#random-book .book-reservation h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #D9631E;
}

.reserve_hide{
    display: none;
}

#random-book .book-actions {
    padding-top: 10px;
}

#random-book .book-actions .stat-item {
    padding: 15px 20px;
    font-size: 23px;
    line-height: 60px;
}

#random-book .book-actions a.btn {
    padding: 15px 50px;
    font-size: 18px;
    text-shadow: 1px 1px 0px #000;
    text-shadow: 1px 1px 0px #000;
}

#random-book .book-data {

}

/**
 * Recent Articles
 */