{% extends 'layout-sidebar.twig' %}

{% block content %}
    <div id="print-job-index">
        <div class="page-header">
            <h2>Articles</h2>
        </div>
        <div class="container-fluid margin-top-lg">
            <div class="row">

                <div class="col-md-9">
                  {{ article.title }}
                </div>

                <div class="col-md-3">

                </div>

            </div>
        </div>
    </div>
{% endblock %}