#main {
    width: 65%;
    margin: 0 auto;
}

#header {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 48%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(48%, #eeeeee), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%, #eeeeee 48%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%, #eeeeee 48%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%, #eeeeee 48%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(top, #eeeeee 0%, #eeeeee 48%, #ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
    min-height: 80px;
    border-bottom: 2px solid #eee;
    padding: 5px 8px 0px 8px;
}