{% extends 'layout-sidebar.twig' %}

{% block title %}
    Student-Bill | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="user-dashboard">
        <div class="page-header">
            <h2>Student Bill</h2>
        </div>
        <div class="container-fluid">
            <div class="col-md-12">
                Bill
            </div>
        </div>
    </div>
{% endblock %}