{% extends 'layout-sidebar.twig' %}

{% block content %}
    <div id="user-dashboard">
        <div class="page-header">
            <h2>Dashboard</h2>
        </div>
        <div class="container-fluid">
            <div class="col-md-12">
                <a href="/books">View All Books</a>
                <br/>
                <a href="/printjobs">View your PrintJobs</a>
            </div>
        </div>
    </div>
{% endblock %}