{% extends 'layout-main.twig' %}

{% block content %}
    <div id="user-dashboard">
        <h2>User Dashboard</h2>
        <a href="/books">View All Books</a>
        <br />
        <a href="/printjobs">View your PrintJobs</a>
    </div>
{% endblock %}