{% extends 'layout-sidebar.twig' %}

{% block title %}
    Dashboard | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="user-dashboard">
        <div class="page-header">
            <h2>Dashboard</h2>
        </div>
        <div class="container-fluid">
            <div class="col-md-12">
                <a href="{{ app.url_generator.generate('books.index') }}">View All Books</a>
                <br/>
                <a href="{{ app.url_generator.generate('printJobs.index') }}">View your PrintJobs</a>
            </div>
        </div>
    </div>
{% endblock %}