<div class="most-borrowed-book-list">
    <div class="page-title">
        <h2>MOST BORROWED BOOKS</h2>
    </div>
    <!-- page title -->

    <div class="row">
        {% for borrowedBook in mostBorrowedBooks %}
        <div class="col-md-3">
            <div  class="preview-image">
                <a href="{{  app.url_generator.generate('books.view', {id: borrowedBook.id}) }}">
                    <img src="{{ borrowedBook.preview_image_url | default(app.default_book_image) }}" alt="" height="260" width="175">
                </a>
            </div>
            {# Picture #}

            <div class="shelf">
                <img src="{{ app.base_url }}assets/img/book/shelf.png" alt="" class="img-responsive">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
