{% extends 'layouts/blank.twig' %}

{% block title %}
  Login | {{ parent() }}
{% endblock %}

{% block content %}
  <div class="lock-background" id="home">




    <div class="login-form">

    <div style="text-align: center;">
        <img src="Library-icon.png" height="128" width="128"  />
        <h1 style="font-family: KaushanScript serif !important; font-style: italic;text-shadow: 3px 3px 3px #000;">SICT e-Library</h1>
        <p style="text-align: center; color: #fff; font-size: 20px; margin-top: -10px; font-style: italic;">Read . Learn . Discover</p>
    </div>

      <div class="login-form-title">
        <p style="border-bottom: 1px solid #09f; width: 150px; font-size: 20px;">Please sign in</p>
      </div>
      <form action="{{ app.url_generator.generate('user.main') }}" method="post" class="form-horizontal"
            role="form">

        {% include 'partials/errors.twig' %}

        <div class="form-group">
          <div class="col-md-12">
            <input type="text" name="unique_id" class="form-control no-rounded ui-input-text user-a" id="inputEmail"
                   placeholder="Staff ID or Matric Number">

            <p class="text-center text-muted">
              <!-- <small>Note: Use your Matric Number if you are a student, and Staff ID if you are a Staff.
              </small> -->
            </p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <input type="password" name="password" class="form-control no-rounded ui-input-text password-b" id="inputPassword"
                   placeholder="Password">
          </div>
        </div>

        <div class="form-group text-center">
          <button style="width: 420px;" type="submit" class="btn-lg btn-danger no-rounded">Sign in</button>
        </div>

      </form>

      <!-- <p class="text-center" style="color: white; margin-top: 5px;">
        SICT LIBRARY IS AVAILABLE FOR ANDROID
      </p>
      <a class="btn btn-lg btn-block btn-success btn-library no-rounded" style="margin-top: 10px;">
        Get It Here
      </a> -->

    </div>


  </div>
{% endblock %}