{% extends 'layouts/blank.twig' %}

{% block title %}
  Login | {{ parent() }}
{% endblock %}

{% block content %}

  <div id="home">

    <div class="lock-background">
      <h1>SICT Library</h1>
    </div>

    <div class="login-form">

      <div class="login-form-title">
        <h2>Login Here</h2>
      </div>
      <form action="{{ app.url_generator.generate('user.main') }}" method="post" class="form-horizontal"
            role="form">

        {% include 'partials/errors.twig' %}

        <div class="form-group">
          <div class="col-md-12">
            <input type="text" name="unique_id" class="form-control no-rounded" id="inputEmail"
                   placeholder="Staff ID or Matric Number">

            <p class="text-center text-muted">
              <small>Note: Use your Matric Number if you are a student, and Staff ID if you are a Staff.
              </small>
            </p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <input type="password" name="password" class="form-control no-rounded" id="inputPassword"
                   placeholder="Password">
          </div>
        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn btn-default no-rounded">Sign in</button>
        </div>

      </form>

      <p class="text-center" style="color: white; margin-top: 5px;">
        SICT LIBRARY IS AVAILABLE FOR ANDROID
      </p>
      <a class="btn btn-lg btn-block btn-success btn-library no-rounded" style="margin-top: 10px;">
        Get It Here
      </a>

    </div>

    Hello
  </div>
{% endblock %}