{% extends 'layout-main.twig' %}

{% block title %}
    Lock Screen | {{ parent() }}
{% endblock %}

{% block content %}

    <div id="user-dashboard">

        {% include 'partials/errors.twig' %}

        <div class="login-form">
            <div class="login-form-title"><h2>Login To Start Using E-Library Service.</h2></div>
            <form action="{{ app.url_generator.generate('user.main') }}" method="post" class="form-horizontal"
                  role="form">
                <div class="form-group">
                    <label for="input-login-id" class="col-sm-2 control-label">Login ID</label>

                    <div class="col-md-5">
                        <input type="text" name="unique_id" class="form-control" id="inputEmail"
                               placeholder="Staff ID or Matric Number">

                        <p>
                            <small>Note: Use your Matric Number if you are a student, and Staff ID if you are a Staff.
                            </small>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>

                    <div class="col-md-5">
                        <input type="password" name="password" class="form-control" id="inputPassword"
                               placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}