{% extends 'layout-main.twig' %}

{% block title %}
    Lock Screen | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="user-dashboard">
        <div class="login-form">
            <div class="login-form-title"><h2>Login Form</h2></div>
            <form action="{{ app.url_generator.generate('user.main') }}" method="post" class="form-horizontal"
                  role="form">
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Registration id</label>

                    <div class="col-md-5">
                        <input type="text" name="val[regid]" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>

                    <div class="col-md-5">
                        <input type="password" name="val[password]" class="form-control" id="inputPassword"
                               placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
        <!--
        <h2>Lock Screen - Require user to login here.</h2>

        <p>
            Lets discuss a little...
        </p>

        <p style="font-family: RobotoRegular; font-size: 15px;">
            I setup this system basically to act as a bootstrap that we all will/may use in developing
            each of our specific modules... I choose to use a micro-framework (Silex) since some of
            us are not totally comfortable in using a full blown featured framework like Symfony/Zend/Laravel.
        </p>

        <p style="font-family: RobotoRegular; font-size: 15px;">
            The pages here contains a very minimal implementation of each module and does not include all functionality...
            This is meant to act as an example showing you how the e-library API is consumed...
            I will try to add comments to every part of the source code so that it explains itself...
        </p>



        <h3>Enjoy Coding!!</h3>
        -->
    </div>
{% endblock %}