{% extends 'layout-sidebar.twig' %}

{% block title %}
    E-Exam | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="user-dashboard">
        <div class="page-header">
            <h2>E-Exam</h2>
        </div>
        <div class="container-fluid">
            <div class="col-md-12">
                <a href="#">The exam should start</a>
            </div>
        </div>
    </div>
{% endblock %}