{% extends 'layout-main.twig' %}

{% block content %}
    <div id="printjob-create">
        <form action="/printjobs/create" method="post">
            <b>Give this print job a name so you can remember it later:</b>
            <input type="text" name="job[name]" placeholder="Print Job Name" />

            <br />
            <button class="btn btn-default" type="submit">Continue &raquo; </button>
        </form>
    </div>
{% endblock %}