<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/dashboard.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="wrapper">
    {% block before_header %}{% endblock %}
    <div id="header" class="navbar navbar-default navbar-fixed-top">
        <a href="/dashboard" id="logo">
            <h2>E</h2>
        </a>
    </div>
    {% block after_header %}{% endblock %}

    {% block before_content %}{% endblock %}
    <div id="main">
        {% block content %} {% endblock %}
    </div>
    {% block after_content %}{% endblock %}
</div>

</body>
</html>